<!doctype html>
<html lang="en">
<head>
   <title> Simplicity - Container </title>
   <!-- - - - - - - - - - - - - - - - - - - -->
   <meta charset="utf-8" />
   <meta http-equiv="x-ua-compatible" content="ie=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" shrink-to-fit="no" />
   <!-- - - - - - - - - - - - - - - - - - - -->
   <link rel="stylesheet" href="../../dependency/common.css" />
   <link rel="stylesheet" href="./style.css" />
</head>
<body>
   <div class="simplicity grid">
      <!-- ... -->
   </div><!-- .simplicity.grid -->
</body>
</html>
