@import "./material-icons/master.css";
@import "./source-code-pro/master.css";
@import "./source-sans-pro/master.css";
@import "./source-serif-pro/master.css";

*  { box-sizing: border-box
   ; padding: 0
   ; margin: 0
   }

:root
   { font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif
   ; font-size: 18px
   ; font-weight: 400;
   }

html
   { height: 100% }

body
   { background: white
   ; color: black
   ; height: 100%
   }
