@charset "utf-8";

/* * * * * * * * * * * * * * * * * *
   font-family:
      | "Red Hat Mono"
   font-weight:
      | normal
      | bold
   font-style:
      | normal
      | italic
 * * * * * * * * * * * * * * * * * */

@font-face
   { font-family: "Red Hat Mono"
   ; font-weight: normal
   ; font-style: normal
   ; src: url("./red-hat-mono/normal-normal.ttf")
   }

@font-face
   { font-family: "Red Hat Mono"
   ; font-weight: normal
   ; font-style: italic
   ; src: url("./red-hat-mono/normal-italic.ttf")
   }

@font-face
   { font-family: "Red Hat Mono"
   ; font-weight: bold
   ; font-style: normal
   ; src: url("./red-hat-mono/bold-normal.ttf")
   }

@font-face
   { font-family: "Red Hat Mono"
   ; font-weight: bold
   ; font-style: italic
   ; src: url("./red-hat-mono/bold-italic.ttf")
   }
