@charset "utf-8";

/* * * * * * * * * * * * * * * * * * *
*  font-family:
*     | "Source Code Pro"
*  font-style:
*     | normal
*     | italic
*  font-weight:
*     | 200
*     | 300
*     | 400
*     | 600
*     | 700
*     | 900
*/

@font-face
   { font-family: "Source Code Pro"
   ; font-weight: 200
   ; font-style: normal
   ; src: url("./font/source-code-pro-extra-light.ttf")
   }

@font-face
   { font-family: "Source Code Pro"
   ; font-weight: 200
   ; font-style: italic
   ; src: url("./font/source-code-pro-extra-light-italic.ttf")
   }

@font-face
   { font-family: "Source Code Pro"
   ; font-weight: 300
   ; font-style: normal
   ; src: url("./font/source-code-pro-light.ttf")
   }

@font-face
   { font-family: "Source Code Pro"
   ; font-weight: 300
   ; font-style: italic
   ; src: url("./font/source-code-pro-light-italic.ttf")
   }

@font-face
   { font-family: "Source Code Pro"
   ; font-weight: 400
   ; font-style: normal
   ; src: url("./font/source-code-pro-regular.ttf")
   }

@font-face
   { font-family: "Source Code Pro"
   ; font-weight: 400
   ; font-style: italic
   ; src: url("./font/source-code-pro-italic.ttf")
   }

@font-face
   { font-family: "Source Code Pro"
   ; font-weight: 600
   ; font-style: normal
   ; src: url("./font/source-code-pro-semi-bold.ttf")
   }

@font-face
   { font-family: "Source Code Pro"
   ; font-weight: 600
   ; font-style: italic
   ; src: url("./font/source-code-pro-semi-bold-italic.ttf")
   }

@font-face
   { font-family: "Source Code Pro"
   ; font-weight: 700
   ; font-style: normal
   ; src: url("./font/source-code-pro-bold.ttf")
   }

@font-face
   { font-family: "Source Code Pro"
   ; font-weight: 700
   ; font-style: italic
   ; src: url("./font/source-code-pro-bold-italic.ttf")
   }

@font-face
   { font-family: "Source Code Pro"
   ; font-weight: 900
   ; font-style: normal
   ; src: url("./font/source-code-pro-black.ttf")
   }

@font-face
   { font-family: "Source Code Pro"
   ; font-weight: 900
   ; font-style: italic
   ; src: url("./font/source-code-pro-black-italic.ttf")
   }
